In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import warnings
import time
import csv
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import csv
from textblob import TextBlob
import pandas
import sklearn
#import cPickle
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

**Loading the data**

---

In [5]:
path = "/content/drive/MyDrive/Data/data.csv"
df_bonus = pd.read_csv(path)

In [6]:
df_bonus

      Unnamed: 0 label                                            message
0              0   ham  Go until jurong point, crazy.. Available only ...
1              1   ham                      Ok lar... Joking wif u oni...
2              2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3              3   ham  U dun say so early hor... U c already then say...
4              4   ham  Nah I don't think he goes to usf, he lives aro...
...          ...   ...                                                ...
5569        5569  spam  This is the 2nd time we have tried 2 contact u...
5570        5570   ham               Will ü b going to esplanade fr home?
5571        5571   ham  Pity, * was in mood for that. So...any other s...
5572        5572   ham  The guy did some bitching but I acted like i'd...
5573        5573   ham                         Rofl. Its true to its name

[5574 rows x 3 columns]

In [7]:
messages = df_bonus

In [8]:
messages.groupby('label').describe()

      Unnamed: 0                                                         \
           count         mean          std  min     25%     50%     75%
label
ham       4827.0  2794.346385  1605.244806  0.0  1409.5  2795.0  4185.5
spam       747.0  2735.797858  1634.851784  2.0  1228.0  2719.0  4151.5


          max
label
ham    5573.0
spam   5569.0

In [9]:
messages.message.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: message, dtype: object

**Data Preprocessing**

---

In [11]:
import nltk

In [12]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In the prerocessing we will be converting the messages into verctor. Each word will be represented by a unique number 

---
The first message will split the messages into word i.e representing them as token and convert each one of them to there base form(lower case).

In [13]:
def split_into_lemmas(message):
    message = str(message).lower()
    words = TextBlob(message).words
    return [word.lemma for word in words]

messages.message.head().apply(split_into_lemmas)

0    [go, until, jurong, point, crazy, available, o...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, in, 2, a, wkly, comp, to, win, f...
3    [u, dun, say, so, early, hor, u, c, already, t...
4    [nah, i, do, n't, think, he, go, to, usf, he, ...
Name: message, dtype: object

Now, converting them as bag of words.

---
Gives the dimension of the vocabulary.

In [39]:
bag_of_words = CountVectorizer(analyzer=split_into_lemmas).fit(messages['message'])
print(len(bag_of_words.vocabulary_))

8731

Let's see how CountVectorizer works

In [40]:
message_test = messages['message'][7]
print(message_test)

As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune

In [41]:
test_bag = bag_of_words.transform([message_test])
print(test_bag)
print(test_bag.shape)

  (0, 16)	1
  (0, 920)	1
  (0, 944)	2
  (0, 1138)	1
  (0, 1562)	1
  (0, 1923)	1
  (0, 1924)	2
  (0, 2340)	1
  (0, 3345)	1
  (0, 3422)	1
  (0, 3733)	1
  (0, 4992)	1
  (0, 5055)	1
  (0, 5459)	1
  (0, 5615)	1
  (0, 5776)	1
  (0, 6045)	1
  (0, 6401)	1
  (0, 6733)	1
  (0, 7690)	1
  (0, 8080)	1
  (0, 8619)	3
(1, 8731)

So all the words in this message are unique except two words, having frequency 2 and 3

---

In [42]:
messages_bag = bag_of_words.transform(messages['message'])

Normalizing the counting.

---

In [43]:
tfidf_transformer = TfidfTransformer().fit(messages_bag)
tfidf4 = tfidf_transformer.transform(test_bag)
print(tfidf4)

  (0, 8619)	0.2838056289941599
  (0, 8080)	0.23964381985496042
  (0, 7690)	0.0638489735781324
  (0, 6733)	0.19141614857349606
  (0, 6401)	0.20769193514668413
  (0, 6045)	0.20320863853663598
  (0, 5776)	0.16186925805494962
  (0, 5615)	0.2331539443105764
  (0, 5459)	0.23964381985496042
  (0, 5055)	0.23964381985496042
  (0, 4992)	0.23964381985496042
  (0, 3733)	0.13977022078897322
  (0, 3422)	0.14545055296897821
  (0, 3345)	0.09277452064782392
  (0, 2340)	0.21022256175131782
  (0, 1924)	0.455702659783641
  (0, 1923)	0.1943269617529983
  (0, 1562)	0.1390749559953033
  (0, 1138)	0.1184611167101603
  (0, 944)	0.14421379243102025
  (0, 920)	0.18304924379149962
  (0, 16)	0.23964381985496042

In [45]:
print(tfidf_transformer.idf_[bag_of_words.vocabulary_['request']])

7.141140946540319

**We can implement the above mentioned preprocessing steps in the PIPELINE. So here while spliting the data into test, train and validation raw data is used and the preprocessing steps will be applied in 'train.ipynb' while training the data through pipelining**

---

**Spliting Data to create Train, Test and Validation datasets**

---

In [21]:
x_train, x_rem, y_train, y_rem = train_test_split(messages['message'],messages['label'], train_size=0.8)

In [22]:
x_valid, x_test, y_valid, y_test = train_test_split(x_rem,y_rem, test_size=0.5)

In [23]:
list_of_train = list(zip(x_train, y_train))
train_data = pd.DataFrame(list_of_train,
                  columns=['x_train', 'y_train'])
train_data.to_csv("/content/drive/MyDrive/Data/train.csv")

In [24]:
list_of_test = list(zip(x_test, y_test))
test_data = pd.DataFrame(list_of_test,
                  columns=['x_test', 'y_test'])
test_data.to_csv("/content/drive/MyDrive/Data/test.csv")

In [25]:
list_of_valid = list(zip(x_valid, y_valid))
valid_data = pd.DataFrame(list_of_valid,
                  columns=['x_valid', 'y_valid'])
valid_data.to_csv("/content/drive/MyDrive/Data/valid.csv")



---